body {
    font-family: 'Roboto', sans-serif;
}
#cards table {
    border-collapse: collapse;
    margin: 5px;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {background-color: #f2f2f2;}

#root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10em;
}

.card {
    float: left;
}

button, input {
    background: #ace7f0;
    border: 1px solid #678a90;
    padding: 5px;
    border-radius: 10px;
}
input {
    background: #eee;
    margin: 5px;
}

select {
    -moz-appearance: none;
    /* background: #ace7f0; */
    /* border: 1px solid #678a90; */
    color: #000;
    font-weight: bold;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.card {
    background: #f5e;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-right: 2px;
    margin-bottom: 2px;
}
.card table {
    border-collapse: collapse;
}
.card h2 {
    margin: 0;
}
.card tr:nth-child(1) td {
    border-bottom: none;
    border-top: none;
}
.card td:nth-child(1){
    border-right: 1px solid #000;
}
.card td {
    border-top: 1px solid #000;
    border-bottom: none;
}
.card tr {
    background: none;
}

#editView {
    display: none;
}

.card button {
    float: right;
    border: none;
    background: none;
    font-size: 0.5em;
    padding: 0;
    margin-left: -5em;
}

.deactive * {
    visibility: hidden;
}
.card {
    position: relative;
    padding-top: 1.5em;
}
.card > h3 {
    position:absolute;
  top:0;
  left: 5px;
  right:0;
    margin: 0;
    text-overflow:ellipsis;
  white-space:nowrap;
  overflow: hidden
}

.title {
    font-size: 2em;
}
#newCardForm {
    display: none;
}
.form button {
    float: right;
}